In [1]:
import pandas as pd

In [2]:
pd.Series([23, 45, -36, 12, 0, 100])

0     23
1     45
2    -36
3     12
4      0
5    100
dtype: int64

In [3]:
seri = pd.Series([23, 45, -36, 12, 0, 100])

type(seri)

pandas.core.series.Series

In [4]:
seri.axes

[RangeIndex(start=0, stop=6, step=1)]

In [5]:
seri.dtype

dtype('int64')

In [6]:
seri.ndim

1

In [7]:
seri.size

6

In [8]:
seri.values

array([ 23,  45, -36,  12,   0, 100])

In [9]:
seri.head()

0    23
1    45
2   -36
3    12
4     0
dtype: int64

In [10]:
seri.head(3)

0    23
1    45
2   -36
dtype: int64

In [11]:
seri.tail()

1     45
2    -36
3     12
4      0
5    100
dtype: int64

In [12]:
seri.tail(3)

3     12
4      0
5    100
dtype: int64

In [13]:
# index name

In [14]:
pd.Series([455, 354, 1332, 43553, 90, "string"], index = ["first",2,3,4,5,6])

first       455
2           354
3          1332
4         43553
5            90
6        string
dtype: object

In [15]:
seri = pd.Series([455, 354, 1332, 43553, 90, "string"], index = ["first",2,3,4,5,6])

In [16]:
seri["first"]

455

In [17]:
seri["first" : 5]

first      455
2          354
3         1332
4        43553
5           90
dtype: object

In [18]:
dict = pd.Series({"james" :10,
                 "elena" : 34,
                  "william": 29,
                  "mila": 22                 
                 })

In [19]:
dict

james      10
elena      34
william    29
mila       22
dtype: int64

In [20]:
dict["james" : "william"]

james      10
elena      34
william    29
dtype: int64

In [21]:
pd.concat([dict, seri])

james          10
elena          34
william        29
mila           22
first         455
2             354
3            1332
4           43553
5              90
6          string
dtype: object

In [22]:
import numpy as np

x = np.array([23, 42, 13, 90, 80, 68])

seri = pd.Series(x)

seri

0    23
1    42
2    13
3    90
4    80
5    68
dtype: int64

In [23]:
seri[0:4]

0    23
1    42
2    13
3    90
dtype: int64

In [24]:
seri[4:]

4    80
5    68
dtype: int64

In [25]:
seri.keys

<bound method Series.keys of 0    23
1    42
2    13
3    90
4    80
5    68
dtype: int64>

In [26]:
seri.index

RangeIndex(start=0, stop=6, step=1)

In [27]:
list(seri.items())

[(0, 23), (1, 42), (2, 13), (3, 90), (4, 80), (5, 68)]

In [28]:
seri.values

array([23, 42, 13, 90, 80, 68])

In [29]:
seri

0    23
1    42
2    13
3    90
4    80
5    68
dtype: int64

In [30]:
4 in seri

True

In [31]:
42 in seri

False

In [32]:

l = [20, 43, 12, 98, 36]
l

[20, 43, 12, 98, 36]

In [33]:
pd.DataFrame(l, columns = ["col name"])

   col name
0        20
1        43
2        12
3        98
4        36

In [34]:
import numpy as np

In [35]:
k1 = np.random.randint(10, size = 5)
k2 = np.random.randint(10, size = 5)
k3 = np.random.randint(10, size = 5)
k1

array([1, 7, 6, 5, 5])

In [36]:
dict = {"var1":k1,
        "var2":k2,
        "var3":k3
       }

dict

{'var1': array([1, 7, 6, 5, 5]),
 'var2': array([6, 1, 5, 7, 1]),
 'var3': array([6, 0, 4, 2, 2])}

In [37]:
import pandas as pd

In [38]:
df = pd.DataFrame(dict)
df

   var1  var2  var3
0     1     6     6
1     7     1     0
2     6     5     4
3     5     7     2
4     5     1     2

In [39]:
df[0:1]

   var1  var2  var3
0     1     6     6

In [40]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [41]:
df.index = ["x", "y", "z", "q", "w"]

In [42]:
df.index

Index(['x', 'y', 'z', 'q', 'w'], dtype='object')

In [43]:
df

   var1  var2  var3
x     1     6     6
y     7     1     0
z     6     5     4
q     5     7     2
w     5     1     2

In [44]:
df[
    "y" : "q"
]

   var1  var2  var3
y     7     1     0
z     6     5     4
q     5     7     2

In [45]:
df

   var1  var2  var3
x     1     6     6
y     7     1     0
z     6     5     4
q     5     7     2
w     5     1     2

In [46]:
df.drop("x")

   var1  var2  var3
y     7     1     0
z     6     5     4
q     5     7     2
w     5     1     2

In [47]:
df

   var1  var2  var3
x     1     6     6
y     7     1     0
z     6     5     4
q     5     7     2
w     5     1     2

In [48]:
df.drop("x", inplace= True)

In [49]:
df

   var1  var2  var3
y     7     1     0
z     6     5     4
q     5     7     2
w     5     1     2

In [50]:
l = ["w"]

In [51]:
# fancy

In [52]:
df.drop(l)

   var1  var2  var3
y     7     1     0
z     6     5     4
q     5     7     2

In [53]:
"var1" in df

True

In [54]:
l = ["var4", "var2", "var9"]

In [55]:
df

   var1  var2  var3
y     7     1     0
z     6     5     4
q     5     7     2
w     5     1     2

In [56]:
for i in l:
    print(i in df)

False
True
False

In [57]:
df

   var1  var2  var3
y     7     1     0
z     6     5     4
q     5     7     2
w     5     1     2

In [58]:
df["var4"] = df["var1"] + df["var2"]

In [59]:
df

   var1  var2  var3  var4
y     7     1     0     8
z     6     5     4    11
q     5     7     2    12
w     5     1     2     6

In [60]:
df.drop("var4", axis = 1, inplace = True)

In [61]:
df

   var1  var2  var3
y     7     1     0
z     6     5     4
q     5     7     2
w     5     1     2

In [62]:
l = ["var1"]

In [63]:
df.drop(l, axis = 1)

   var2  var3
y     1     0
z     5     4
q     7     2
w     1     2

In [64]:
df

   var1  var2  var3
y     7     1     0
z     6     5     4
q     5     7     2
w     5     1     2

In [65]:
# loc & iloc

In [66]:
import numpy as np
import pandas as pd

In [67]:
x = np.random.randint(1, 30 , size = (10, 3))

In [68]:
df = pd.DataFrame(x, columns = ["var1", "var2", "var3"])
df

   var1  var2  var3
0     6     4     6
1    19    11    28
2    27     5    11
3    10    24    15
4    24    29    27
5    18     2    11
6    28    21    29
7    17    16    29
8    12     9    14
9    25    23    25

In [69]:
df.loc[0:3]

   var1  var2  var3
0     6     4     6
1    19    11    28
2    27     5    11
3    10    24    15

In [70]:
df.iloc[0:3]

   var1  var2  var3
0     6     4     6
1    19    11    28
2    27     5    11

In [71]:
df

   var1  var2  var3
0     6     4     6
1    19    11    28
2    27     5    11
3    10    24    15
4    24    29    27
5    18     2    11
6    28    21    29
7    17    16    29
8    12     9    14
9    25    23    25

In [72]:
df.iloc[:3, :2]

   var1  var2
0     6     4
1    19    11
2    27     5

In [73]:
df.loc[:3, "var1"]

0     6
1    19
2    27
3    10
Name: var1, dtype: int64

In [74]:
df.loc[:3, "var1"] # use loc for str or below

0     6
1    19
2    27
3    10
Name: var1, dtype: int64

In [75]:
df.iloc[0:3] ["var2"]

0     4
1    11
2     5
Name: var2, dtype: int64

In [76]:
x = np.random.randint(1, 30 , size = (10, 3)) 
df = pd.DataFrame(x, columns = ["var1", "var2", "var3"])
df

   var1  var2  var3
0     1    27     1
1    11     6     8
2     6    28    13
3     9     1     8
4    26    13    28
5    11    23    29
6     7     9    11
7    16    23     1
8     4     9    10
9     9     5     7

In [77]:
df[0:4][["var1", "var2"]]

   var1  var2
0     1    27
1    11     6
2     6    28
3     9     1

In [78]:
df

   var1  var2  var3
0     1    27     1
1    11     6     8
2     6    28    13
3     9     1     8
4    26    13    28
5    11    23    29
6     7     9    11
7    16    23     1
8     4     9    10
9     9     5     7

In [79]:
df.var1

0     1
1    11
2     6
3     9
4    26
5    11
6     7
7    16
8     4
9     9
Name: var1, dtype: int64

In [80]:
df[df.var1 > 20]

   var1  var2  var3
4    26    13    28

In [81]:
df[(df.var1 > 20) & (df.var3 < 30)]

   var1  var2  var3
4    26    13    28

In [82]:
import pandas as pd

In [83]:
df1 = pd.DataFrame({"workers": ["Tamer", "Mert", "Eda", "Buse"],
                    "group" : ["Engineering", "HR", "Accounting", "Product"]               
                   })
df1

  workers        group
0   Tamer  Engineering
1    Mert           HR
2     Eda   Accounting
3    Buse      Product

In [84]:
df2 = pd.DataFrame({"workers": ["Tamer", "Mert", "Eda", "Buse"],
                    "date" : ["2020", "2000", "2010", "2008"]               
                   })
df2

  workers  date
0   Tamer  2020
1    Mert  2000
2     Eda  2010
3    Buse  2008

In [85]:
pd.merge(df1, df2)

  workers        group  date
0   Tamer  Engineering  2020
1    Mert           HR  2000
2     Eda   Accounting  2010
3    Buse      Product  2008

In [86]:
# aggregation & grouping

In [87]:
import seaborn as sns

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [88]:
?sns.load_dataset

In [89]:
df = sns.load_dataset("planets")
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [90]:
df.shape

(1035, 6)

In [91]:
df["mass"].mean()

2.6381605847953216

In [92]:
df["mass"].count()

513

In [93]:
df["mass"].min()

0.0036

In [94]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

In [95]:
df.dropna().describe().T  # for nan val

,count,mean,std,min,25%,50%,75%,max
number,498.0,1.734940,1.175720,1.0000,1.00000,1.000,2.0000,6.0
orbital_period,498.0,835.778671,1469.128259,1.3283,38.27225,357.000,999.6000,17337.5
mass,498.0,2.509320,3.636274,0.0036,0.21250,1.245,2.8675,25.0
distance,498.0,52.068213,46.596041,1.3500,24.49750,39.940,59.3325,354.0
year,498.0,2007.377510,4.167284,1989.0000,2005.00000,2009.000,2011.0000,2014.0

In [96]:
import pandas as pd

In [97]:
df = pd.DataFrame({"groups" : ["A", "B", "C", "B", "A"],
                  "data" : [3, 24, 45, 12, 0]},
                  columns = ["groups", "data"]
                  )

In [98]:
df

  groups  data
0      A     3
1      B    24
2      C    45
3      B    12
4      A     0

In [99]:
df.describe().T

      count  mean        std  min  25%   50%   75%   max
data    5.0  16.8  18.322118  0.0  3.0  12.0  24.0  45.0

In [100]:
df.groupby("groups")

In [101]:
x = df.groupby("groups")

In [102]:
x.mean()  #  24 + 12 / 2 = 18  [B]

        data
groups
A        1.5
B       18.0
C       45.0

In [103]:
x.sum()

        data
groups
A          3
B         36
C         45

In [104]:
df = sns.load_dataset("planets")
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [105]:
df.groupby("method")

In [106]:
df.groupby("method")["orbital_period"].mean()

method
Astrometry                          631.180000
Eclipse Timing Variations          4751.644444
Imaging                          118247.737500
Microlensing                       3153.571429
Orbital Brightness Modulation         0.709307
Pulsar Timing                      7343.021201
Pulsation Timing Variations        1170.000000
Radial Velocity                     823.354680
Transit                              21.102073
Transit Timing Variations            79.783500
Name: orbital_period, dtype: float64

In [107]:
df.groupby("method")["distance"].describe().T

method,Astrometry,Eclipse Timing Variations,Imaging,Microlensing,Orbital Brightness Modulation,Pulsar Timing,Pulsation Timing Variations,Radial Velocity,Transit,Transit Timing Variations
count,2.000000,4.000000,32.000000,10.000000,2.0,1.0,0.0,530.000000,224.00000,3.000000
mean,17.875000,315.360000,67.715937,4144.000000,1180.0,1200.0,NaN,51.600208,599.29808,1104.333333
std,4.094148,213.203907,53.736817,2076.611556,0.0,NaN,NaN,45.559381,913.87699,915.819487
min,14.980000,130.720000,7.690000,1760.000000,1180.0,1200.0,NaN,1.350000,38.00000,339.000000
25%,16.427500,130.720000,22.145000,2627.500000,1180.0,1200.0,NaN,24.412500,200.00000,597.000000
50%,17.875000,315.360000,40.395000,3840.000000,1180.0,1200.0,NaN,40.445000,341.00000,855.000000
75%,19.322500,500.000000,132.697500,4747.500000,1180.0,1200.0,NaN,59.217500,650.00000,1487.000000
max,20.770000,500.000000,165.000000,7720.000000,1180.0,1200.0,NaN,354.000000,8500.00000,2119.000000

In [108]:
df = pd.DataFrame({"groups": ["A", "B", "C", "B", "A", "C"],
                   "var_1" : [24, 67, 123, 8, 50, 30],
                   "var_2" : [48, 34, 66, 28, 20, 100]                  
                   },
                  columns = ["groups", "var_1", "var_2"]                 
                 )

In [109]:
df

  groups  var_1  var_2
0      A     24     48
1      B     67     34
2      C    123     66
3      B      8     28
4      A     50     20
5      C     30    100

In [110]:
# aggregate

In [111]:
df.groupby("groups").aggregate([min, np.median, max])

       var_1             var_2
         min median  max   min median  max
groups
A         24   37.0   50    20   34.0   48
B          8   37.5   67    28   31.0   34
C         30   76.5  123    66   83.0  100

In [112]:
df.groupby("groups").aggregate({"var_1": "min", "var_2":"max"})

        var_1  var_2
groups
A          24     48
B           8     34
C          30    100

In [113]:
df

  groups  var_1  var_2
0      A     24     48
1      B     67     34
2      C    123     66
3      B      8     28
4      A     50     20
5      C     30    100

In [114]:
# filter

In [115]:
def filter_func(x):
    return x["var_1"].std() < 20

In [116]:
df.groupby("groups").std()

            var_1      var_2
groups
A       18.384776  19.798990
B       41.719300   4.242641
C       65.760931  24.041631

In [117]:
df.groupby("groups").filter(filter_func)

  groups  var_1  var_2
0      A     24     48
4      A     50     20

In [118]:
# transform

In [119]:
df

  groups  var_1  var_2
0      A     24     48
1      B     67     34
2      C    123     66
3      B      8     28
4      A     50     20
5      C     30    100

In [120]:
df["var_1"] + 12

0     36
1     79
2    135
3     20
4     62
5     42
Name: var_1, dtype: int64

In [121]:
df_x = df.iloc[:, 1:3]

In [122]:
df_x.transform(lambda x: (x-x.mean()) / x.std())

      var_1     var_2
0 -0.640286 -0.044960
1  0.405244 -0.517043
2  1.766866  0.562004
3 -1.029321 -0.719365
4 -0.008105 -0.989126
5 -0.494398  1.708491

In [123]:
#apply

In [124]:
df = pd.DataFrame({
                   "var_1" : [24, 67, 123, 8, 50, 30],
                   "var_2" : [48, 34, 66, 28, 20, 100]                  
                   },
                  columns = ["var_1", "var_2"]                
                 )

In [125]:
df

   var_1  var_2
0     24     48
1     67     34
2    123     66
3      8     28
4     50     20
5     30    100

In [126]:
df.apply(np.sum)

var_1    302
var_2    296
dtype: int64

In [127]:
import pandas as pd
import seaborn as sns

titanic = sns.load_dataset("titanic")
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [128]:
titanic.groupby(["sex", "class"])[["survived"]].aggregate("mean").unstack()

        survived
class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [129]:
# pivot table

In [130]:
titanic.pivot_table("survived", index = "sex", columns = "class")

class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [131]:
titanic.age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [132]:
age = pd.cut(titanic["age"], [0, 22, 50])
age.head(15)

0      (0.0, 22.0]
1     (22.0, 50.0]
2     (22.0, 50.0]
3     (22.0, 50.0]
4     (22.0, 50.0]
5              NaN
6              NaN
7      (0.0, 22.0]
8     (22.0, 50.0]
9      (0.0, 22.0]
10     (0.0, 22.0]
11             NaN
12     (0.0, 22.0]
13    (22.0, 50.0]
14     (0.0, 22.0]
Name: age, dtype: category
Categories (2, interval[int64, right]): [(0, 22] < (22, 50]]

In [133]:
titanic.pivot_table("survived", ["sex", age],"class")

class               First    Second     Third
sex    age
female (0, 22]   0.950000  1.000000  0.508772
       (22, 50]  0.961538  0.903846  0.386364
male   (0, 22]   0.444444  0.454545  0.163462
       (22, 50]  0.469697  0.061538  0.150000

In [134]:
# read data with pandas

In [135]:
"""
#csv
df = pd.read_csv(path)
df

#excel
df = pd.read_excel(path)
df

"""

'\n#csv\ndf = pd.read_csv(path)\ndf\n\n#excel\ndf = pd.read_excel(path)\ndf\n\n'

In [136]:
# web url
url = "https://raw.githubusercontent.com/mvahit/reading_data/master/ornekcsv.csv"
df = pd.read_csv(url, sep =";")

df

      a    b     c
0    78   12   1.0
1    78   12   2.0
2    78  324   3.0
3     7    2   4.0
4    88   23   5.0
5     6    2   NaN
6    56   11   6.0
7     7   12   7.0
8    56   21   7.0
9   346    2   8.0
10    5    1   8.0
11  456   21   8.0
12    3   12  88.0

In [137]:
df.columns =  ["L", "P", "G"]
df.head()

    L    P    G
0  78   12  1.0
1  78   12  2.0
2  78  324  3.0
3   7    2  4.0
4  88   23  5.0